.movie{
   /* border: 1px solid black;  */
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   width: 250px;
   /* height: 150px; */
   margin: 15px 20px;
   padding: 10px;
   box-shadow: 0 0px 15px 1px lightgray
}

.movie__delete__button{
   width: 100%;
}